// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #00AED3;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$geek-pink: #ff086f;
$glass-blue: #46B4D1;
