@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 70vh;
}

.banner h1 {
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  font-family: 'Anton', sans-serif;;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cta {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border: 5px solid #fff1f1;
  text-align: center;
  min-height: 130px;
}
.cta h1 {
  color: black;
  min-height: 17px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}
