@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

body {
  margin-bottom: 90px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  color: #212121;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.05)), url('https://i.redd.it/5b1vg0i66hv01.png');
  // background-attachment: fixed;
  background-position: center;
  padding: 150px 0;
  height: 60vh;
  border-radius: 25px;
}

.banner h1 {
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  font-family: 'Lexend Zetta', sans-serif;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cta {
  width: 350px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  padding: 20px;
  border: 5px solid #fff1f1;
  text-align: center;
  min-height: 130px;
}
.cta h1 {
  color: black;
  min-height: 17px;
}

.home-header {
  text-align: left;
  margin-top: 40px;
}

@media(max-width: 700px) {
  .cta {
    width: 75%;
    span {
      display: none !important;
    }
  }

  #banner-typed-text {
    display: none !important;
  }

  .btn-home {
    display: none !important;
  }

  .btn-sell-mobile {
    display: block !important;
  }
}
