  <footer class="footer-bg">
      <div class="footer-container">
        <%= image_tag("geek-inventory-light.svg") %>
        <div class="footer-items">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
  </footer>
  </body