  <footer>
      <div class="footer-container d-flex align-items-center justify-content-center mt-3">
        <div class="footer-items">
          <a href="https://github.com/anneizaura" target="_blank"><i class="fab fa-github mr-3"></i></a>
          <a href="https://github.com/gabrielloppes" target="_blank"><i class="fab fa-github mr-3"></i></a>
          <a href="https://github.com/Vicapelli" target="_blank"><i class="fab fa-github mr-3"></i></a>
          <a href="https://github.com/mamuh" target="_blank"><i class="fab fa-github mr-3"></i></a>
        </div>
      </div>
  </footer>
  </body
