<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner.png') %>); background-size: cover;">
  <div class="container">
    <h1>Geek Inventary</h1>
    <%= link_to "Browse", items_path, class: "btn btn-primary" %>
  </div>
</div>

<div  class="container">
  <% @items.each do |item|  %>
  <%= item.name %>
  <% if item.photo.attached? %>
  <%= cl_image_tag item.photo.key %>
  <% end %>
  <% end %>
</div>

