* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #43afce;
  margin-top: auto;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  width: 90%;
  max-width: 1700px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.footer-container footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.footer-items {
  width: 92px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.footer-container .footer-items a:hover {
  color: #ed565f;
  transition-duration: 0.2s;
}

.footer-container img {
  width: 190px;
}

.footer-container .footer-items a {
  color: white;
  font-size: 1.1em;
}


