.card-product {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 10px;
  }

  .card-product .item-image {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .card-product h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 15px;
    opacity: .7;
    margin: 0;
  }


  .card-product-infos {
    padding: 16px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
