.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.card-trip {
	overflow: hidden;
	background: white;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-trip {
	.btn-absolute {
		opacity: 0;
	}
}

.card-trip:hover {
	.btn-absolute {
		opacity: 1;
		transition: 0.5s;
	}
}

.btn-absolute {
	right: 20px;
	position: absolute;
	top: 10px;
	background-color: #f64a60;
	color: #fff;
	font-weight: bold;
	width: 70px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}

.card-info a {
	text-decoration: none;
	color: #f64a60;
	font-weight: bold;
}

.btn-absolute:hover {
	color: #fff;
}

.card-trip h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.card-trip {
	border-radius: 3px;
}

.card-trip p {
	font-size: 16px;
	opacity: 0.7;
	margin: 0;
}

.card-trip .card-trip-infos {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}

@media (max-width: 992px) {
	.cards {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
}
