.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 20px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    // border-left-width: 0;
    &:hover {
      // background-color: black;
    }
    &:active {
      // background-color: grey;
    }
}

.pagination {
    border-left: 1px solid #ddd;
    border-radius: 3px;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
